* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #010101;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}