* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  background-color: #010101;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
}

#loading {
  height: calc(100vh - 77px);
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  #loading {
    height: calc(100vh - 52px);
  }
}