* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #010101;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

button {
  cursor: pointer;
}