#details-container {
    margin-top: 77px;
}

.canvas-img {
    max-width: 100%;
    max-height: 80vh;
    margin: 0 auto;
    display: block;
    border-left: 2px solid #212122;
    border-bottom: 2px solid #212122;
    border-right: 2px solid #212122;
}

.go-back-link {
    margin: 0 auto;
    width: fit-content;
    display: block;
    color: #2b99d6;
    font-size: 20px;
    text-decoration: none;
}

.go-back-link:hover {
    text-decoration: underline;
}

#details-wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.face-analyze h2 {
    text-decoration: underline;
}

.face-analyze p {
    margin: 5px 0;
}

@media screen and (max-width: 1280px) {
    #details-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 480px) {
    #details-container {
        margin-top: 52px;
    }

    #details-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}